
// Add another secondary font
$menu-font: "Inria Sans", sans-serif;
$main-font: "Inter", sans-serif;

// COLORS

$red: #CC0000;
$black: #141517;
$dark-gray: #191B20;
$light-gray: #B8B8B8;
$white: #FFF;